<div style="width: 400px; padding: 50px">
<%= form_tag(armstrong_output_path, method: "post") do |f| %>
    <%= label_tag "number", "number" %>
    <%= number_field_tag('number', 0, class: "form-control col-12", min: 0, max: 100, required: true) %>
    <%= submit_tag("calculate", class: "btn btn-primary col-12") %>
<% end %>
<%= button_to("Get all cached data", { action: :data, format: :xml }, method: :get, class: "btn btn-outline-primary col-12") %>
</div>